{% extends "base.html" %}

{% block title %}
    <title>Contact-Taskmate</title>
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 mt-5">
               <a href=" https://twitter.com/_atheis_t?s=08" alt="twitter"><center><i class ="fab fa-twitter fa-2x"></i></center></a>
            </div>
            <div class="col-sm-4 mt-5">
                <a href="https://www.facebook.com/yaswanth.alapati.7" alt="facebook"><center><i class="fab fa-facebook fa-2x"></i></center></a>
            </div>
            <div class="col-sm-4 mt-5">   
                <a href="" alt="linkedin"><center><i class="fab fa-linkedin fa-2x"></i></center></a>
            </div>
        </div>
    </div>
{% endblock content %}